<!-- dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div>
        <button id="scrape-cvs-button" onclick="scrapeCVS()">SCRAPE CVS</button>
        <ul>
            <li class="item-to-scrape">Advil</li>
            <!-- <li class="item-to-scrape">Pain Killer</li> -->
        </ul>
    </div>
</body>
    <script>

        async function scrapeCVS() {
            // Collect list items into an array
            const items = Array.from(document.querySelectorAll('.item-to-scrape')).map(li => li.textContent);

            // Construct the request body
            let requestBody = {
                items: items
            };

            // Make the POST request to the Flask backend using Axios
            const scrapedData = await axios.post('/CVS', requestBody)
            console.log(scrapedData.data);

            requestBody = {
                items: scrapedData.data
            };

            const parsedData = await axios.post('/process-data',requestBody)
            console.log(parsedData.data);

            requestBody = {
                items: parsedData.data
            };

            const Database = await axios.post('/put-data',requestBody)
            console.log(Database.data);
        }
    </script>
</html>